<div class="main-wrap">

  <a class="main-logo" routerLink="/home">
    <img class="logo" src="assets/tds_logo2.png" alt="">
  </a>

  <ul class="sidebar-ul">
    <li class="sidebar-li">
      <a class="sidebar-a">
        <span class="sidebar-i-wrap">
          <i routerLink="/dashboard" class="bi bi-speedometer"></i>
        </span>
      </a>
    </li>
    <li class="sidebar-li">
      <a class="sidebar-a">
        <span class="sidebar-i-wrap">
          <i routerLink="/portalHome" class="fa-solid fa-ticket"></i>
        </span>
      </a>
    </li>
    <li class="sidebar-li">
      <a class="sidebar-a">
        <span class="sidebar-i-wrap">
          <i routerLink="/customers" class="fa-solid fa-users-viewfinder"></i>
        </span>
      </a>
    </li>
    <li class="sidebar-li">
      <a class="sidebar-a">
        <span class="sidebar-i-wrap">
          <i routerLink="/employees" class="bi bi-headset"></i>
        </span>
      </a>
    </li>
    <li class="sidebar-li">
      <a class="sidebar-a">
        <span class="sidebar-i-wrap">
          <i class="fa-solid fa-gear"></i>
        </span>
      </a>
    </li>
  </ul>
</div>


