<h1 class="text-center">Register below</h1>
<div class="reg-form p-4">
  <form action="">
    <div class="col">
      <div class="example-container col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter Name</mat-label>
          <input matInput>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>

      <div class="example-container col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="example@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>

      <div class="example-container col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>


      </div>
      <div class="text-center">
        <button mat-raised-button color="accent">click</button>
      </div>
    </div>
  </form>
</div>
