<app-ticket-navbar></app-ticket-navbar>

<app-sidebar></app-sidebar>



<div class="lecturers-sec">
<div>
  <app-title [icon]="sectionIcon" [text]="sectionTitle"></app-title>
</div>
<div  class="card-wrap">
  <div class="detials-wrap">
    <div class="img-wrap">
      <img class="lecturer-img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
    </div>
    <div class="info-sec">
      <h3 class="name">{{customer?.fName}} {{customer?.lName}}</h3>
      <p class="phone">{{customer?.phone}}</p>
      <p class="email">{{customer?.email}}</p>
      <p class="address">{{customer?.address}}</p>
    </div>
    </div>
</div>
</div>

