<app-ticket-navbar></app-ticket-navbar>

<app-sidebar></app-sidebar>

<div class="main-wrap">

<app-title [icon]="sectionIcon" [text]="sectionTitle"></app-title>

<form [formGroup]="addTicketForm" (ngSubmit)="onSubmit()" class="row mb-4">
   <div class="col-11 m-3">
    <label for="subject">Subject</label>
    <input formControlName="subject" type="text" class="form-control">
  </div>
  <div class="col-11 m-3">
    <label for="message">Message</label>
    <input formControlName="message" type="text" class="form-control">
  </div>
  <div class="col-11 m-3">
    <label for="status">Status</label>
    <select formControlName="status" class="form-control" >
      <option>- -</option>
      <option *ngFor="let status of statusOptions">{{status}}</option>
    </select>
  </div>
  <div class="col-11 m-3">
    <label for="agent">Agent</label>
    <select formControlName="agent" class="form-control" >
      <option>- -</option>
      <option *ngFor="let agent of agents">{{agent}}</option>
    </select>
  </div>
  <div class="col-11 m-3">
    <label for="priority">Priority</label>
    <select formControlName="priority" class="form-control" >
      <option>- -</option>
      <option *ngFor="let priority of priorityOptions">{{priority}}</option>
    </select>
  </div>
    <div class="mb-3">
      <a routerLink="/portalHome">
      <button type="button" class="btn btn-secondary cancel-btn">
        Cancel
      </button>
      </a>
      <button [disabled]="addTicketForm.invalid" type="submit" class="btn btn-primary add-btn">
        Add ticket
      </button>
    </div>
</form>

</div>

