<nav class="navbarr">
  <div class="logo-wrap">
    <a class="navbar-brand" routerLink="/home">
      <img class="logo" src="assets/tds_logo2.png" alt="">
      TD Solutions</a>
  </div>
  <div class="auth-wrap">
    <ul class="authUl">
      <li  class="authLis">
        <a routerLink="/login" class="nav-link active" aria-current="page">
          <button class="login-btn">LOGIN</button>
        </a>
      </li>
      <li class="authLis">
        <a routerLink="/signup" class="nav-link active" aria-current="page">
          <button class="signup-btn">SIGN UP</button>
        </a>
      </li>
      <!-- <li  class="authLis">
        <button class="btn btn-link nav-link active" aria-current="page">
          <button class="logout-btn">LOGOUT</button>
        </button>
      </li> -->
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg  ">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" routerLink="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item1">
                    <a routerLink="/home" class="nav-link1 " aria-current="page">Home</a>
                </li>
                <li class="nav-item1">
                    <a routerLink="" class="nav-link1 active" aria-current="page">Solutions</a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li  class="nav-item">
                        <a routerLink="/login" class="nav-link active" aria-current="page">
                            <!-- <button></button> -->
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a routerLink="/signup" class="nav-link active" aria-current="page">
                           <button>SIGN UP</button>
                        </a>
                    </li>
                    <li  class="nav-item">
                        <button  class="btn btn-link nav-link active" aria-current="page">
                            Logout
                        </button>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</nav>



<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" routerLink="/">TD Solutions</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link active" aria-current="page"></a>
                </li>
                <li class="nav-item">
                    <a routerLink="/lecturers" class="nav-link active" aria-current="page">Solutions</a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li  class="nav-item">
                        <a routerLink="/login" class="nav-link active" aria-current="page">
                            <button>LOGIN</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/signup" class="nav-link active" aria-current="page">
                           <button>SIGN UP</button>
                        </a>
                    </li>
                    <li  class="nav-item">
                        <button  class="btn btn-link nav-link active" aria-current="page">
                            Logout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>



<nav class="navbar navbar-expand-lg bg-body-tertiary border border-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" routerLink="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link active" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/lecturers" class="nav-link active" aria-current="page">Solutions</a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li  class="nav-item">
                        <a routerLink="/login" class="nav-link active" aria-current="page">
                            <button></button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/signup" class="nav-link active" aria-current="page">
                           <button>SIGN UP</button>
                        </a>
                    </li>
                    <li  class="nav-item">
                        <button  class="btn btn-link nav-link active" aria-current="page">
                            Logout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
 -->


