<header>
  <div class="container">
    <a routerLink="/" class="logo"><img class="logo"
        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61YYsr-yY7L.jpg" alt=""></a>
    <nav>
      <ul>
        <li>
          <a routerLink="/projects"><select class="select" name="" id="">
              <option value="">PROJECTS</option>
              <option value="">Project1</option>
              <option value="">Project2</option>
              <option value="">Project3</option>
              <option value="">Project4</option>
            </select></a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard"></a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>Logout</a>
          </div>
        </li>

      </ul>
    </nav>
  </div>
</header>
<a href="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61YYsr-yY7L.jpg"></a>
