div{

  margin:1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;

  
}

input{
  width: 10rem;
  margin-right: 1rem;
}
button{
  width: 10rem;
}

