<h2>Projects</h2>

<form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()" class="row mb-4">
  <div class="col-4">
    <input formControlName="title" type="text" class="form-control" placeholder="Title">
  </div>
  <div class="col-6">
    <input formControlName="description" type="text" class="form-control" placeholder="Description">
  </div>
  <div class="col-6">
    <select formControlName="status" class="form-control">
      <option>
        Choose your status....
      </option>
      <option *ngFor="let status of allStatuses">
        {{status}}
      </option>
    </select>
  </div>

  <div class="col-2">
    <button [disabled]="addProjectForm.invalid" type="submit" class="btn btn-primary">Add</button>
  </div>
</form>



<ul class="list-group">
  <li *ngFor="let project of projects" class="list-group-item d-flex justify-content-between align-items-center">
    {{project.title}} {{project.description}} ({{project.status}})
    <div>
      <button class="btn btn-light">
        <i class="bi bi-pencil text-primary"></i>
      </button>
      <button (click)="onDelete(project)" class="btn btn-light">
        <i class="bi bi-trash text-danger"></i>
      </button>
    </div>
  </li>
</ul>
