<h1 class="text-center">About Us</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta non facere in nam, iusto voluptatem velit repellat
  nesciunt pariatur consectetur vitae repellendus, autem repudiandae nobis magni asperiores eaque suscipit itaque.</p>


<h1 class="text-center">Contact Us</h1>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="col-3 m-auto">
  <div class="mb-3">
    <label class="form-label" for="">name:</label>
    <input #nameFieldRef formControlName="name" class="form-control" type="text">

  </div>

  <app-about-field-error [formField]="getFieldControl('name')"></app-about-field-error>

  <div class="mb-3">
    <label class="form-label" for="">Email:</label>
    <input formControlName="email" class="form-control" type="text">

  </div>

  <app-about-field-error [formField]="getFieldControl('email')"></app-about-field-error>

  <div class="mb-3">
    <label class="form-label" for="">Please feel free to reach out to us:</label>
    <textarea class="form-control" formControlName="message" name="" id="" cols="30" rows="4"></textarea>
    <p class="text-danger">

  </div>
  <app-about-field-error [formField]="getFieldControl('password')"></app-about-field-error>
  <button [disabled]="contactForm.invalid" type="submit" class="btn btn-primary">Sign-up</button>

</form>
