<h1 class="text-center">Login Below</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="col-6 m-auto">

  <div class="mb-3">
    <label class="form-label" for="">Email:</label>
    <input formControlName="email" class="form-control" type="text">
    <p class="text-danger">{{!this.loginForm.controls.email.invalid? "": "Must use valid email"}}</p>
  </div>

  <div class="mb-3">
    <label class="form-label" for="">Password:</label>
    <input formControlName="password" class="form-control" type="text">
    <p class="text-danger">
      {{!this.loginForm.controls.password.invalid? "": "Password must contain 6 or more characters"}}</p>
  </div>
  <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Sign-up</button>

</form>
